numpy
pandas
rdkit
rdkit-pypi
jupyter
rdkit
ipykernel
ipython
streamlit
requests

# For molvs, directly use the PyPI package
molvs
git+https://github.com/lfnothias/gnps_postprocessing.git@lfnothias-patch-1#egg=gnps_postprocessing
git+https://github.com/lfnothias/sygma@master#egg=SyGMa

